.buttons-container {
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.button-js {
  display: inline-flex;
  gap: 12px;
  padding: 16px 36px;
  color: #ffffff;
  border: none;
  background: linear-gradient(180deg, #e50000 0%, #800000 100%);

}

.button-js:hover {
  filter: brightness(1.1);
  transform: translateY(-1px);
}

.button-js:active {
  transform: translateY(0);
}

.button-js-change-color {
  display: inline-flex;
  gap: 12px;
  padding: 16px 36px;
  color: #ffffff;
  border: none;
  background: linear-gradient(180deg, #1aa4c7 0%, #073f4c 100%);

}